*{
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman' serif;
    margin:0;
}

.main_header{
    width: 100%;
    height: 20%;
    top: 0;
    padding: 10px 18px;
}

.main_header div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
}

.main_header img{

    width: 180px;
    height: 120px;
}

.get_in_touch{
    font-family: "Montserrat", sans-serif;
    background: #fcf9e4;
    width: 210px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid #499c49;
    text-align: center;

}

.get_in_touch:hover,
.get_in_touch:active{
    background: #c9c8c8;
}

.nav_box{
 display: none;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background: #82ce2c;
 width: 28%;
 height: 100vh;
}

.close_button{
  top:0;
  right:0;
  width: 35px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  cursor:pointer;
  font-size: 25px;
  font-weight: bold;
  background-color: #f00505;
  color:white;
  padding: 4px;
  border-radius: 2px;
}

.mobile_nav {
  display: block;
  text-align: center;
}

.mobile_lists {
    margin-top:20%;
    list-style: none;
    padding: 0%;
}

.mobile_list_item{
    margin: 20px 0;
    padding: 20px;
}

.mobile_list_item a{
    font-family: "Cutive Mono", monospace;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color:white;
}


.mobile_list_item:hover,
.mobile_list_item:active{
    background: #3c883c;
}

.menu_button{
    width: 3rem;
    border: none;
    cursor: pointer;
    padding-top:0;
    padding-bottom: 0;
    vertical-align: middle;
    background: transparent;
}
  
.menu_button:focus{
    outline: none;
}

.menu_bar{
    border-radius: 3px;
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.5rem 0;
} 

.booking_ticket{
  padding: 4% ;
  background-color: #9fcd32;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
}

.bt_div{
  display: flex;
  gap:32px;
}

.fa-regular{
  font-weight: 300;
  font-size: 70px;
}

.booking_head{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.booking_head:last-child {
  color: #417703;
}

.check_date{
  text-decoration: none;
  font-weight: bold;
  background: white;
  color:black;
  padding: 26px 34px ;
}

.check_date:hover{
  background:#ddfcdd;
}

.main_footer{
  width: 100%;
  background-color: #209b20;
  display: flex;
  justify-content: space-evenly ;
  text-align: center;
  flex-wrap: wrap;
  padding: 90px;
}

.footer_logo{
  margin-left: 68px;
  width: 170px;
}


.footer_items{
  display: flex ;
  flex-direction: column;
  width: 300px;
}

.footer_item{
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  align-items: center;
  color: white;
  padding: 16px; 
}

.footer_items_1{
 flex-shrink: 1;
}
.footer_heading{
  font-size: 18px;
  color:#83df1b;
  font-weight: bold;
}

.book_now_button{
  text-decoration: none;
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: white;
  background:#9fcd32;
  padding: 18px 30px;
  border: none;
  border-radius: 1px;
}

.book_now_button:hover,
.book_now_button:active{
  background-color: #157e15;
}


@media (max-width:600px)
{

  .main_header{
    height: 25%;
  }

  .main_header img{

    width: 100px;
    height: 70px;
  }

  .get_in_touch{
    font-size: 10px;
    width: 120px;
    padding: 12px;
}

.menu_button{
  width: 40px;
}

.close_button{
  width: 30px;
  font-size: 20px;
}

.nav_box{
  width: 60%;
}

.mobile_list_item a{
  font-size: 24px;
  padding: 20px;
}


.main_footer{
  display: grid;
  grid-template-columns: repeat(2,minmax(100px, 1fr));
  grid-template-rows: repeat(3,400px);
} 

.footer_logo{
  width: 90px;
  height: 90px;
  margin-left: 70px;
}
.footer_items_1{
  width: 15rem;
}
.footer_items_2{
  width: 14rem;
}

.footer_heading{
  font-size: 16px;
}

.footer_item{
  font-size: 14px;
}

.book_now_button{
  font-size: 14px;
  padding: 14px;
}
}



